html, body {
  width: 100%;
  height: 100%;
}

#map {
  width: 960px;
  height: 500px;
}

.dark-section {
  background-color: #000000;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
